{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Auth</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {
	        padding-left: 15px;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Auth</h1>
			{% if errors %}
				{% for error in errors %}
					<div><b>Error: {{ error }}</b><div>
				{% endfor %}
			{% endif %}
			<hr>
			<form action="/info/auth" method="post">
				{% csrf_token %}
				<div>
					<p><input placeholder="User" required name="username" type="text"></p>
				</div>
				<div>
					<p><input placeholder="Password" required name="password" type="password"></p>
				</div>
				<div>
					<p><input type="submit" value="Login"></p>
				</div>
			</form>
		</div>
	</body>
</html>