<!DOCTYPE html>
<html>
	<head>
		<title>Info</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<style type="text/css">
			body {
		        padding-left: 15px;
			}
			table {
				border-spacing: 0 10px;
				font-family: 'Open Sans', sans-serif;
			}
			th {
				padding: 0px 20px;
			}
			td {
				padding: 5px 20px;
			}
			h1 {
				padding: 10px 20px;
			}
		</style>
	</head>
	<body>
		<h1>Stat</h1>
		<ul>
			<li>Username: {{ user.username }}</li>
			<li>Customer: {{ user.profile.customer }}</li>
			<li>UserID: {{ user.id }}</li>
		</ul>
		<h1>Files:</h1>
		<ul>
			{% for file in filelist %}
				<li><a href="/info/download/?file={{ file }}">{{ file }}</a></li>
			{% endfor %}
		</ul>
		<hr>
		<table>
		<th>Qradar (All: {{ count }})<hr></th>
		<th>Remedy (All: {{ count2 }})<hr></th>
		<tr>
		<td>
			<table>
			<th>Status:</th>
			<th>Count:</th>
			<th>Percent:</th>
			
			{% for key, value in info %}
				<tr><p><td>{{ key }}</td><td>{{ value.0 }}</td><td>{{ value.1 }} %</td></p></tr>
			{% endfor %}
			
			</table>
		</td>
		<td>
			<table>
			<th>Status:</th>
			<th>Count:</th>
			<th>Percent:</th>
			
			{% for key, value in info2 %}
				<tr><p><td>{{ key }}</td><td>{{ value.0 }}</td><td>{{ value.1 }} %</td></p></tr>
			{% endfor %}
			
			</table>
		</td>
		</tr>
		</table>
		<form action="/info/" method="post">
			{% csrf_token %}
			<div>
				<input type="submit" name="logout" value="Logout">
			</div>
		</form>
	</body>
</html>